{% extends 'layouts/base.html' %}
{% block title %} QnA {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class='col-md-3'>
    <h4>Tags</h4>
    <div class="list-group shadow-sm my-3">
      {% for tag in tags %}
      <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
        {{ tag.name }} <span class="float-end">&rarr;</span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    {% include 'partials/messages.html' %}
    {% block qna_content %}{% endblock %}
  </div>
</div>
{% endblock %}
