<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand text-uppercase" href="{% url 'home' %}">
      FEDA
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home' %}"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}#features">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}#features">Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}#features">Knowledge Base</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" target='_blank' href="https://6hislain.pythonanywhere.com">Demo</a></li>
            <li>
              <a
                class="dropdown-item"
                href="https://github.com/6hislain/farm-equipment-distribution"
                target="_blank"
              >
                GitHub
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="https://bio.link/6hislain"
                target="_blank"
              >
                Author
              </a>
            </li>
          </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signin' %}">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup' %}">Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <form class='d-flex' action='{% url "search" %}' method='POST' autocomplete="off">
            {% csrf_token %}
            <input type="text" name="keyword" class='form-control me-1' placeholder='Search . . .' required='true' />
            <button type='submit' class='btn btn-primary'>go</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>