{% extends 'layouts/base.html' %}
{% block title %} Product {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 text-center">
    <h1 class="display-6 fw-bold my-4">Our quality products</h1>
    <div>
      {% if user.is_superuser %}
      <a href='{% url "after-sale-service:product.create" %}' class='btn btn-lg btn-outline-primary'>
        <i class='bi bi-plus-circle me-1'></i> Add new product
      </a>
      {% endif %}
    </div>
    <div class="mt-3">{% include 'partials/messages.html' %}</div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center g-3">
      {% for product in page_object %}
      <div class="col-md-3">
        <div class="card shadow-sm my-1">
          {% if product.image %}
          <img src="/media/{{ product.image }}" class='card-img-top' alt='{{ product.name }}' />
          {% elif product.image == '' %}
          <img src="/static/img/placeholder.png" class='card-img-top' alt='{{ product.name }}' />
          {% endif %}
          <div class="card-body">
            <h5 class='card-title'>
              <a href='{% url "after-sale-service:product.show" slug=product.slug %}'>{{ product.name }} &rarr;</a>
            </h5>
            <h6 class='card-text'>{{ product.price }}</h6>
            <div>
              {% for partner in product.json_partners %}
              <span class="badge bg-info">{{ partner.value }}</span>
              {% endfor %}
              {% for tag in product.json_tags %}
              <span class="badge bg-secondary">{{ tag.value }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <nav aria-label="pagination">
      <ul class="pagination justify-content-center mt-3">
        {% if page_object.has_previous %}
        <li class="page-item"><a class="page-link" href='?page={{ page_object.previous_page_number }}'><i class='bi bi-chevron-left'></i></a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ page_object.number }} / {{ page_object.paginator.num_pages }}</a></li>
        {% if page_object.has_next %}
        <li class="page-item"><a class="page-link" href='?page={{ page_object.next_page_number }}'><i class='bi bi-chevron-right'></i></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
