{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <h1 class="display-6 fw-bold my-4">{{ product.name }}</h1>
    {% if product.image %}
    <img src="/media/{{ product.image }}" class='mb-3 w-100' alt='{{ product.name }}' />
    {% elif product.image == '' %}
    <img src="/static/img/thumbnail.png" class='mb-3 w-100' alt='{{ product.name }}' />
    {% endif %} {% if user.is_superuser %}
    <div class='my-3'>
      <a href='{% url "after-sale-service:product.edit" id=product.id %}' class='btn btn-primary'>
        <i class='bi bi-pen me-1'></i> Update information
      </a>
      <a href='{% url "after-sale-service:product.create" %}' class='btn btn-outline-primary'>
        <i class='bi bi-plus-circle me-1'></i> Add new product
      </a>
    </div>
    {% endif %}
    <div class="mt-3">{% include 'partials/messages.html' %}</div>
  </div>
  <div class="col-md-6">
    <h4><small>Price Range:</small> {{ product.price }}</h4> <hr>
    <h4>Description</h4>
    <div class='text-start'>{{ product.description|safe }}</div>
  </div>
  <div class="col-12">
    <hr>
    <h1 class="display-6 fw-bold my-4">Partners</h1>
    <div class="owl-carousel owl-theme mb-3">
      {% for partner in partners %}
      <div class="item">
        <div class="card shadow-sm">
          {% if partner.image %}
          <img src="/media/{{ partner.image }}" class='card-img-top' alt='{{ partner.name }}' />
          {% elif partner.image == '' %}
          <img src="/static/img/thumbnail.png" class='card-img-top' alt='{{ partner.name }}' />
          {% endif %}
          <div class="card-body">
            <h5 class='card-title'><a href='{% url "after-sale-service:partner.show" slug=partner.slug %}'>{{ partner.name }} &rarr;</a></h5>
            <h6 class='card-text'>{{ partner.website }}</h6>
            <div>
              {% for tag in partner.json_tags %}
              <span class="badge bg-secondary">{{ tag.value }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/owl-carousel/assets/owl.theme.default.min.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    autoplay: true,
    autoplayTimeout: 5000,
    autoplayHoverPause: true,
    animateOut: "slideOutDown",
    animateIn: "flipInX",
    responsive: {
      0: { items: 1 },
      600: { items: 2 },
      1000: { items: 4 },
    },
  });
});
</script>
{% endblock %}
