{% extends 'layouts/base.html' %}
{% block title %} Timeline {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class='col-md-3'>
    {% if user.is_authenticated %}
    <div class="card card-body text-center shadow-sm mb-3">
      <h5 class="text-truncate fw-bold">{{ user.username }}</h5>
      <p class="text-truncate m-0">{{ user.email }}</p>
    </div>
    {% endif %}
    <h4>Tags</h4>
    <div class="list-group shadow-sm my-3">
      {% for tag in tags %}
      <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
        <i class="bi bi-tag me-1"></i> {{ tag.name }} <span class="float-end">&rarr;</span>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9">
    {% include 'partials/messages.html' %}
    {% block qna_content %}{% endblock %}
  </div>
</div>
{% endblock %}
