{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
<h4>Edit product</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="{% url 'after-sale-service:product.index' %}">Product</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit product</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-6 mb-2">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" placeholder='product name' required value='{{ product.name }}' />
    </div>
    <div class="col-md-6 mb-2">
      <label for="website" class="form-label">Price</label>
      <input type="text" class="form-control" name="price" placeholder='$ 0.00' value='{{ product.price }}' />
    </div>
    <div class="col-md-4 mb-2">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name='image' accept='image/*' />
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea id='editor' class='form-control' name='description' rows='5' placeholder="product details...">{{ product.description|safe }}</textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'after-sale-service:product.index' %}">All products</a>
  </div>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/ckeditor.js' %}"></script>
<script>
  ClassicEditor.create(document.querySelector("#editor"))
</script>
{% endblock %}