{% extends 'layouts/admin.html' %}
{% block title %} Dashboard - FEDA {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ '0' }}</h1>
      <a href="{% url 'home' %}" class='btn btn-sm btn-outline-primary'>Products</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ '0' }}</h1>
      <a href="{% url 'home' %}" class='btn btn-sm btn-outline-primary'>Services</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ '0' }}</h1>
      <a href="{% url 'home' %}" class='btn btn-sm btn-outline-primary'>Chat messages</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ '0' }}</h1>
      <a href="{% url 'home' %}" class='btn btn-sm btn-outline-primary'>Notifications</a>
    </div>
  </div>
</div>
{% endblock %}
