{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Dashboard - FEDA {% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ product_count }}</h1>
      <a href="{% url 'product.index' %}" class='btn btn-sm btn-outline-primary'><i class="bi bi-box me-1"></i> Products</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ location_count }}</h1>
      <a href="{% url 'location.index' %}" class='btn btn-sm btn-outline-primary'><i class="bi bi-map me-1"></i> Locations</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ order_count }}</h1>
      <a href="{% url 'order.index' %}" class='btn btn-sm btn-outline-primary'><i class="bi bi-check2-circle me-1"></i> Order</a>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 mb-3">
    <div class="card card-body shadow-sm">
      <h1>{{ supplier_count }}</h1>
      <a href="{% url 'supplier.index' %}" class='btn btn-sm btn-outline-primary'><i class="bi bi-bell me-1"></i> Suppliers</a>
    </div>
  </div>
  <div class="col-12"><div id="map"></div></div>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/mapbox-gl.css' %}">
<style>
  #map {
    height: 75vh;
    width: 100%;
  }
  .marker {
    background-image: url("/static/img/map-marker.svg");
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    text-align: center;
    font-family: "Open Sans", sans-serif;
  }
</style>
{% endblock %} {% block scripts %}
<script src="{% static 'js/mapbox-gl.js' %}"></script>
<script src="{% static 'vendor/chartjs/chart.min.js' %}"></script>
<script>
  mapboxgl.accessToken = "pk.eyJ1IjoiNmhpc2xhaW4iLCJhIjoiY2s1MWE1b3J0MHM0eDNlcDdta3Fkd2F0aCJ9.LCOX_jB2myxTALrIDnA23g";
  const map = new mapboxgl.Map({
    container: "map", // container ID
    style: "mapbox://styles/mapbox/streets-v11", // style URL
    center: [30.0821, -1.9351], // starting position [lng, lat]
    zoom: 8, // starting zoom
    projection: "globe" // display the map as a 3D globe
  });

  map.on("style.load", () => {
    map.setFog({}); // Set the default atmosphere style
  });

  let geojson = {
    type: "FeatureCollection",
    features: [
      {
        type: "Feature",
        geometry: {
          type: "Point",
          coordinates: [29.3022, -1.6679]
        },
        properties: {
          title: "Goma",
          description: "Warehouse"
        }
      },
      {
        type: "Feature",
        geometry: {
          type: "Point",
          coordinates: [30.105, -1.93]
        },
        properties: {
          title: "Kigali",
          description: "Regional Warehouse"
        }
      },
      {
        type: "Feature",
        geometry: {
          type: "Point",
          coordinates: [30.405, -1.93]
        },
        properties: {
          title: "Rwamagana",
          description: "Warehouse"
        }
      },
      {
        type: "Feature",
        geometry: {
          type: "Point",
          coordinates: [30.0834, -1.6132]
        },
        properties: {
          title: "Byumba",
          description: "Warehouse"
        }
      }
    ]
  };
  geojson.features.forEach(function (marker) {
    var el = document.createElement("div");
    el.className = "marker";

    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(
        new mapboxgl.Popup({ offset: 25 }) // add popups
          .setHTML(
            "<h5 class='mb-0'>" +
              marker.properties.title +
              "</h5><p class='mb-0'>" +
              marker.properties.description +
              "</p>"
          )
      )
      .addTo(map);
  });

</script>
{% endblock %}
