{% extends 'layouts/base.html' %}
{% block title %} Search - FEDA {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 text-center">
    <form class='d-flex' action='{% url "search" %}' method='GET' autocomplete="off">
      <input type="text" name="keyword" class='form-control me-1' value='{{ keyword }}' required='true' />
      <button type='submit' class='btn btn-primary'>Search</button>
    </form>
  </div>
  <div class='col-12 my-4'>
    <div class='card shadow-sm'>
      <div class='card-header pb-0 border-0'>
        <ul class='nav nav-tabs' id='search-tab' role='tablist'>
          <li class='nav-item' role='presentation'>
            <button class='nav-link active' id='all-tab' data-bs-toggle='tab' data-bs-target='#all' type='button' role='tab' aria-controls='all' aria-selected='true'>
              <i class='bi bi-layers me-1'></i> All
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='question-tab' data-bs-toggle='tab' data-bs-target='#question' type='button' role='tab' aria-controls='question' aria-selected='false'>
              <i class='bi bi-question-circle me-1'></i> Question & Answer
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='people-tab' data-bs-toggle='tab' data-bs-target='#people' type='button' role='tab' aria-controls='people' aria-selected='false'>
              <i class='bi bi-person me-1'></i> People
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='tag-tab' data-bs-toggle='tab' data-bs-target='#tag' type='button' role='tab' aria-controls='tag' aria-selected='false'>
              <i class='bi bi-tag me-1'></i> Tag
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='product-tab' data-bs-toggle='tab' data-bs-target='#product' type='button' role='tab' aria-controls='product' aria-selected='false'>
              <i class='bi bi-box me-1'></i> Product
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='service-tab' data-bs-toggle='tab' data-bs-target='#service' type='button' role='tab' aria-controls='service' aria-selected='false'>
              <i class='bi bi-check2-circle me-1'></i> Service
            </button>
          </li>
          <li class='nav-item' role='presentation'>
            <button class='nav-link' id='partner-tab' data-bs-toggle='tab' data-bs-target='#partner' type='button' role='tab' aria-controls='partner' aria-selected='false'>
              <i class='bi bi-people me-1'></i> Partner
            </button>
          </li>
        </ul>
      </div>
      <div class='card-body'>
        <div class='tab-content' id='tab-content'>
          <div class='tab-pane fade show active' id='all' role='tabpanel' aria-labelledby='all-tab'>
            <div class='d-flex justify-content-center'>
              <div class='spinner-border text-info m-5' role='status'><span class='visually-hidden'>loading...</span></div>
            </div>
          </div>
          <div class='tab-pane fade' id='product' role='tabpanel' aria-labelledby='product-tab'>product</div>
          <div class='tab-pane fade' id='service' role='tabpanel' aria-labelledby='service-tab'>service</div>
          <div class='tab-pane fade' id='partner' role='tabpanel' aria-labelledby='partner-tab'>partner</div>
          <div class='tab-pane fade' id='question' role='tabpanel' aria-labelledby='question-tab'>question</div>
          <div class='tab-pane fade' id='people' role='tabpanel' aria-labelledby='people-tab'>people</div>
          <div class='tab-pane fade' id='tag' role='tabpanel' aria-labelledby='tag-tab'>tag</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
