{% extends 'layouts/base.html' %}
{% block title %} {{ form.name }} - FEDA {% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-10">
    {% include 'partials/messages.html' %}
    <div class="card shadow-sm">
      <div class="card-header">{{ form.name|upper }}</div>
      <div class="card-body">
        <form action="#" method="post">
          <div class="row">
            <div class="col-12 mb-2 text-muted">{{ form.description }}</div>
            {% for field in fields %}
            <div class="col-md-{{ field.width }} mb-2">
              <label for="{{ field.label }}" class="form-label">{{ field.label|upper }} {% if field.is_required %} * {% endif %}</label>
              {% if field.field_type == 'long-text' %}
              <textarea 
                class='form-control' 
                name='{{ field.label }}' 
                {% if field.is_required %} required {% endif %}
              ></textarea>
              {% elif field.field_type == 'text' %}
              <input type='text' class='form-control' name='{{ field.label }}' {% if field.is_required %} required {% endif %} />
              {% elif field.field_type == 'number' %}
              <input type='number' class='form-control' name='{{ field.label }}' {% if field.is_required %} required {% endif %} />
              {% elif field.field_type == 'date' %}
              <input type='date' class='form-control' name='{{ field.label }}' {% if field.is_required %} required {% endif %} />
              {% elif field.field_type == 'select' %}
              <select name="{{ field.label }}" class="form-control" {% if field.is_required %} required {% endif %}>
                <option value=""> - choose {{ field.label|lower }} - </option>
                {% for choice in field.choice_array %}
                <option value="{{ choice }}">{{ choice }}</option>
                {% endfor %}
              </select>
              {% elif field.field_type == 'boolean' %}
              <div class="form-check mt-2">
                <input type='checkbox' class='form-check-input' name='{{ field.label }}' {% if field.is_required %} required {% endif %} />
                <label class='form-check-label mx-1' for='{{ field.label }}'>{{ field.label }}</label>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% csrf_token %}
          <div class='d-flex justify-content-between'>
            <button class="btn btn-primary" type="submit">Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
