{% extends 'layouts/admin.html' %}
{% load static %}
{% block title %} Service {% endblock %}
{% block content %}
<h4>Add new service</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'after-sale-service:service.index' %}">Service</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add new service</li>
  </ol>
</nav>
<form action="#" method="post" enctype='multipart/form-data'>
  <div class='row'>
    <div class="col-md-6 mb-2">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" placeholder='service name' />
    </div>
    <div class="col-md-6 mb-2">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" class="form-control" name="tags" placeholder='tag 1, tag 2, tag 3' />
    </div>
    <div class="col-md-6 mb-2">
      <label for="image" class="form-label">Image</label>
      <input type="file" class="form-control" name='image' accept='image/*' />
    </div>
    <div class="col-md-6 mb-2">
      <label for="tags" class="form-label">Partners</label>
      <input type="text" class="form-control" name="partners" placeholder='partner 1, partner 2, partner 3' />
    </div>
  </div>
  <div class="mb-2">
    <label for="content" class="form-label">Description</label>
    <textarea id='editor' class='form-control' name='description' rows='5' placeholder="service details..."></textarea>
  </div>
  {% csrf_token %}
  <div class='d-flex justify-content-between'>
    <button class="btn btn-primary" type="submit">Continue</button>
    <a class="btn btn-link" href="{% url 'after-sale-service:service.index' %}">All services</a>
  </div>
</form>
{% endblock %}
{% block styles %}
<link href="{% static 'css/tagify.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block scripts %}
<script src="{% static 'js/tagify.js' %}"></script>
<script src="{% static 'js/ckeditor.js' %}"></script>
<script src="{% static 'js/tagify.polyfills.min.js' %}"></script>
<script>
  ClassicEditor.create(document.querySelector('#editor'))
  new Tagify(document.querySelector('input[name=tags]'))
  new Tagify(document.querySelector('input[name=partners]'))
</script>
{% endblock %}