{% extends 'qna/layout.html' %}
{% block qna_content %}
<h4>{{ question.title }}</h4>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'qna:question.index' %}">QnA</a></li>
    <li class="breadcrumb-item active" aria-current="page">Show question</li>
  </ol>
</nav>
<div class="my-3">{{ question.content }}</div>
<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Answers
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul><li>answer 1</li></ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Leave an answer
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form action="{% url 'qna:answer.create' %}" method='post'>
          <div class='row'>
            <div class='col-md-6 mb-2'>
              <label class='form-label'>File</label>
              <input type="file" class="form-control" name="attachment" allow='image/*' />
            </div>
            <div class='col-md-6 mb-2'>
              <label class='form-label'>Tags</label>
              <input type='text' class='form-control' placeholder='tag 1, tag 2, tag 3'>
            </div>
            <div class="col-md-12 mb-2">
              <label for='content' class='form-label'>Answer</label>
              <textarea name='content' class='form-control' rows='5' placeholder='leave a reply...'></textarea>
            </div>
            {% csrf_token %}
            <div class='d-flex justify-content-between my-2'>
              <button class="btn btn-primary" type="submit">Continue</button>
              <a class="btn btn-link" href="{% url 'qna:question.index' %}">All discussions</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
